@{
    ViewBag.Title = "Mi primera vista";
    String nombreAutor = "Jan";
    int nota = 100;
}

<html>
    <head>
    <title> @ViewBag.Title </title>
    </head>
    <body>
        <div>
            <h1>Mi primera vista</h1>
            <h2> ¡Hola Mundo! </h2>
            <P>
                <strong>Yo soy: </strong> @nombreAutor <br />
                Mi nota el día de hoy es: <input type="number" value="@nota" placeholder="Escriba su nota" />
            </P>
            <hr />
        </div>
        <div>
            <label>El equipo de PI del que soy parte se llama:</label>
            <input type="text" placeholder="Nombre" />
            <hr />
        </div>
        <div>
            <label>Caja para texto: </label>
            <input type="text" placeholder="Escriba cualquier cosa" />
            <hr />
        </div>

        <div>
            <a class="btn btn-info" href="/Home/Index"> Volver a la pagina principal</a><br />
        </div>
    </body>
</html>